
.maze{
  border-collapse: collapse;
  border-spacing: 0px;
}

.maze tbody tr td{
	padding : 0px;
	margin : 0px;
	border : none;
	border-spacing: 0px;
}

@sprite .emptyCell{
	gwt-image: "cell";
	border : none;
}

@sprite .blockCell{
	gwt-image: "block";
	border : none;
}
